---
language: python
python: "2.7"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq python-apt python-pycurl

install:
  - pip install ansible>=1.6.0

  - "{ echo '[defaults]'; echo 'roles_path = ../'; } >> ansible.cfg"

  - ansible-galaxy install debops.nodejs

script:
  # Prepare tests
  - echo localhost > inventory

  # Check syntax
  - ansible-playbook --syntax-check -i inventory test.yml

  # First run
  - ansible-playbook -i inventory test.yml --connection=local --sudo

  #- netstat -utan | grep '127.0.0.1:2368' | grep LISTEN || exit 1
  #- netstat -utan | grep '0.0.0.0:80' | grep LISTEN || exit 1
